<?xml version='1.0' encoding='utf-8'?>
<widget id="com.curiositytrack" version="0.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <preference name="loglevel" value="DEBUG" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    <feature name="PushPlugin">
        <param name="android-package" value="com.plugin.gcm.PushPlugin" />
    </feature>
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <name>CuriosityTrack</name>
    <description>
        Mars Science Laboratory Curiosity Rover track map
    </description>
    <author email="jmknapp@gmail.com" href="http://curiositytrack.com">
        Joe Knapp
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="it.adacto.cordova.device" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" />
    <gap:plugin name="nl.genkgo.inappbrowser" />
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    </widget>
